.color-thewall {
    background-color:#30475E;
    font-family: Magra, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    position: -ms-device-fixed;
}

.bottom {
    position: relative;
    background-color: #30475E;
    margin-top: 10%;
    height: 275px;
    width: 100%;
}

