.App {
    font-family: Magra, sans-serif;
    text-align: center;
}

.react-kanban-column {
    position: -ms-device-fixed;
    background-color: #bcbcbc;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.react-kanban-card {
    background-color: #3e3e3e;
    color: #ffffff;
}

