.header {
    margin-top: 50px;
    font-family: Raleway, sans-serif;
    font-size: 50px;
    color: white;
    background: #30475E;
    height: fit-content;
}

.h1 {
    font-family: Magra, sans-serif;
    font-size: 20px;
    color: white;
    background-color: #30475E;
    height: fit-content;
    line-height: 3;
}
.h4 {
    font-family: Magra, sans-serif;
    font-size: 15px;
    color: white;
    background-color: #30475E;
    height: fit-content;
    line-height: 2;
    text-align: center;
}

.h3 {
    font-family: Magra, sans-serif;
    font-size: 18px;
    color: white;
    background-color: #30475E;
    height: fit-content;
    line-height: 3;
    
    
}