.slowbutton
{
  
    height: 80px;
    width: 150px;
    left: 45%;
    font-family: Magra, sans-serif;
  
    background-color: rgb(180, 65, 65);
    position: absolute;
   
}

.fastbutton
{ left: 15%;
    
    height: 80px;
    width: 150px;
    display: flex;
    
    font-family: Magra, sans-serif;
    color: black;
    background-color: rgb(68, 209, 99);
    position: absolute;
   
}

.buttonstyle1
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Magra, sans-serif;
    color: black;
    background-color: white;
}

.buttonbox {
    height: 10px;
    width: 10px;
    background-color: #c5c5c5;
}

