.today {
    position: absolute;
    top: 215px;
    left: 50px;
    background-color: #034b46;
    width: 20%;
    right: 77.5%;
    font-size: 30px;
    font-family: Magra, sans-serif;
    color: white;
    flex-direction: row;
}

.today2 {
    position: absolute;
    top: 260px;
    left: 50px;
    background-color: #6fbdb7;
    width: 20%;
    height: 200px;
    right:77.5%;
    font-size: 20px;
    font-family: Magra, sans-serif;
    color: black;
    flex-direction: row;
    text-indent: 2px;
    padding-top: 5px;
    padding-left: 5px;
}
.today3 {
    position: absolute;
    top: 260px;
    left: 528px;
    background-color: #6fbdb7;
    width: 20%;
    height: 200px;
    right:77.5%;
    font-size: 20px;
    font-family: Magra, sans-serif;
    color: black;
    flex-direction: row;
    text-indent: 2px;
    padding-top: 5px;
    padding-left: 5px;
}
.task {
    position: relative;
    top: 30px;
    background-color: #bcbcbc;
    color: black;
    width: 90%;
    height: fit-content;
    font-size: 20px;
}

.progress3 {
    flex-direction: row;
    top: 215px;
    position: absolute;
    background-color: #034b46;
    width: 20%;
    left: 27.5%;
    font-size: 30px;
    font-family: Magra, sans-serif;
    color: white;
}
.teamupdates {
    flex-direction: row;
    top: 215px;
    position: absolute;
    background-color: #034b46;
    width: 15%;
    left: 57.5%;
    font-size: 25px;
    font-family: Magra, sans-serif;
    color: white;
}
.teamupdatescontent {
    flex-direction: row;
    top: 252px;
    height: 200px;
    position: absolute;
    background-color: #51b4ee;
    width: 15%;
    left: 57.5%;
    font-size: 20px;
    font-family: Magra, sans-serif;
    color: white;
    align-items: justify;
    padding: 5px;
}
.assigned {
    flex-direction: row;
    top: 215px;
    position: absolute;
    background-color: #034b46;
    width: 15%;
    left: 73.5%;
    font-size: 25px;
    font-family: Magra, sans-serif;
    color: white;
}
.assignedcontent {
    flex-direction: row;
    top: 252px;
    height: 200px;
    position: absolute;
    background-color: #e795d9;
    width: 15%;
    left: 73.5%;
    font-size: 20px;
    font-family: Magra, sans-serif;
    color: white;
    align-items: justify;
    padding: 5px;
}

.external {
    flex-direction: row;
    top: 490px;
    position: absolute;
    background-color: #034b46;
    width: 31%;
    left: 57.5%;
    font-size: 20px;
    font-family: Magra, sans-serif;
    color: white;
    padding-left: 10px;
}
.externalcontent {
    flex-direction: row;
    top: 520px;
    position: absolute;
    background-color: #50a8a2a4;
    width: 31%;
    height: 60px;
    left: 57.5%;
    font-size: 25px;
    font-family: Magra, sans-serif;
    color: white;
    padding-left: 10px;
}
.progress4 {
    position: absolute;
    background-color: #E2DAAC;
    width: 20%;
    top: 260px;
    height: 350px;
    left: 27.5%;
    font-size: 20px;
    font-family: Magra, sans-serif;
    color: black;
    flex-direction: row;
}

.complete {
    flex-direction: row;
    position: absolute;
    top: 415px;
    background-color: #253b1a;
    width: 22%;
    left: 52.5%;
    font-size: 30px;
    font-family: Magra, sans-serif;
    color: white;
    justify-content: center;
}

.complete2 {
    position: absolute;
    background-color: #b4d48b;
    width: 22%;
    top:460px;
    height: 500px;
    left: 52.5%;
    font-size: 20px;
    font-family: Magra, sans-serif;
    color: black;
    flex-direction: row;
}

.Notes {
    flex-direction: row;
    position: absolute;
    top: 415px;
    background-color: #5d4a17;
    width: 22%;
    left: 77.5%;
    font-size: 30px;
    font-family: Magra, sans-serif;
    color: white;
    justify-content: center;
}

.Notes2 {
    position: absolute;
    background-color: #ffdd95;
    width: 22%;
    top: 460px;
    height: 500px;
    left: 77.5%;
    font-size: 20px;
    font-family: Magra, sans-serif;
    color: black;
    flex-direction: row;
}

.todoListMain {
    position: relative;
    font-size: 17.5px;
    font-family: Magra, sans-serif;
    color: black;
    top: 7px;
}

.todo {
    background-color: #3b1818;
    font-family: Magra, sans-serif;
    font-size: 14pt;
    color: white;
    height: auto;
    width: fit-content;
}