.headerPrompt {
    position: center;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    color: white;
    height: 40%;
    vertical-align: center;
    line-height: 3.5;
   
}
.subHeading {
    position: absolute;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    color: black;
    width: 100%;
    max-height: 70px;
    background-color: #2d6665b4;
    top: 630px;
}

.promptStatement {
    font-size: x-large;
    color: black;
    column-span: initial;
    left:10%;
    top: 230px;
    position: absolute;
    font-weight: bold;
    font-family: Raleway, sans-serif;
}

.promptStatementcenter {
    font-size: x-large;
    color: black;
    left: 40%;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    top: 400px;
    position: absolute;
}
.promptStatementright {
    font-size: x-large;
    color: black;
    column-span: initial;
    left:75.8%;
    top: 250px;
    position: absolute;
    font-weight: bold;
    font-family: Raleway, sans-serif;
}

.projectNameText {
    font-size: x-large;
    color: black;
    column-span: initial;
    left:10%;
    position: absolute;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    top: 70px;
}

.input {
    font-size: 20px;
    color: black;
    padding: 2px;

}
.inputText {
    font-size: 20px;
    color: black;
    padding: 10px;
    column-span: initial;
    position: absolute;
    top: 715px;
    left: 10%;
}
.inputText1 {
    font-size: 20px;
    color: black;
    padding: 10px;
}

.inputTextYo {
    font-size: 20px;
    color: black;
    padding: 10px;
    column-span: initial;
    position: absolute;
    top: 725px;
    left: 78%;
}

.inputTextformat {
    font-size: 20px;
    color: black;
    padding: 10px;
    top: 75%;
    position: relative;
}

.inputright {
    font-size: 20px;
    left: 63%;
    font-family: Magra, sans-serif;
    color: black;
    position: absolute;
    top: 70px;
    
}
.biginput {
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
    padding-right: 10px;
    left: 10%;
    width: 80%;
    top: 200px;
}
.inputBox {
    font-size: 20px;
    color: black;
    column-span: initial;
}

.quote {
    font-size: 20px;
    color: white;
    padding: 5%;
}
.slider {
    padding: 20%;
    width: 50%;
}

.submitbutton {
    left: 65%;
    position: absolute;
    top: 550px;
}

.widthbox {
    width: 10%;
    padding-left: 10px;
    position: absolute;
    top: 355px;
    left: 79%;
}

.widthbox1 {
    width: 10%;
    padding-left: 10px;
    position: absolute;
    top: 500px;
}

.difficulty {
    position: absolute;
    top: 850px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    left: 11%;
}

.addTask {
    position: absolute;
    right: 20%;
    top: 585px;
}

.bottomBox {
    height: 100px;
    background-color: #30475E;
    position: relative;
    top:650px;
}