.bg{
    background-color: #EEE9E9;
    height: 50%;
}
.bgright{
    background-color: #EEE9E9;
    height: 50%;
   right: 50%;
  
}

.headerPrompt {
    position: center;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    color: white;
    height: 40%;
    vertical-align: center;
    line-height: 3.5;
   
}
.subHeading {
    position: center;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    color: black;
    height: 40%;
    padding: 1%;
    vertical-align: center;
    line-height: 1.5;
    background-color: #2d6665b4;
   
}
.promptStatement {
    font-size: x-large;
    color: black;
    padding-top: 0px;
    padding-left: 10px;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    
}
.promptStatementcenter {
    font-size: x-large;
    color: black;
    padding-top: 0px;
    padding-left: 39%;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    
}
.promptStatementright {
    font-size: x-large;
    color: black;
   
    column-span: initial;
    left:69%;
    top: 230px;
    position: absolute;
    font-weight: bold;
    font-family: Raleway, sans-serif;   
   
}

.input {
    font-size: 20px;
    color: black;
    padding: 2px;
    
}
.inputText {
    font-size: 20px;
    color: black;
    padding: 10px;
    column-span: initial;
    
}
.inputText1 {
    font-size: 20px;
    color: black;
    padding: 10px;
    
    
}
.inputTextformat {
    font-size: 20px;
    color: black;
    padding: 10px;
    top: 75%;
    position: relative;
    
}

.inputright {
    font-size: 20px;
    color: red;
    
    left: 60%;
    
  
    font-family: Magra, sans-serif;
    color: black;
    
    position: absolute;
  
    
}
.biginput {
    font-size: 20px;
    color: black;
   padding-bottom: 20px;
   padding-right: 10px;
   left: 5%;
   width: 80%;
   
    
}
.inputBox {
    font-size: 20px;
    color: black;
    
    column-span: initial;
    
}

.quote {
    font-size: 20px;
    color: white;
    padding: 7%;
}
.slider {
    padding: 20%;

}
.donebutton {
    color: red;
    left: 5%;
}
.submitbutton {
    left: 80%;
    
}