* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Magra", sans-serif;
}

.toolbar {
  position: relative;
  height: 500px;
  justify-items: center;
  align-content: center;
  background-color: #c5c5c5;
}

.newprojectToolbar{
  position: relative;
  height: 150px;
  justify-items: center;
  align-content: center;
  background-color: #1A4645;
 
  ;
}


.logo {
  position: absolute;
  left: 31%;
  width: 70vh;
}
